body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  color: #2B2B2B;
}

blockquote {
  margin: 0;
}

.h-title {
  font-size: 1.6em;
  line-height: 1.1em;
  font-family: wtdNewRegular, Arial, Helvetica, sans-serif;
  padding: 20px 0px;
  border-top: 1px solid #E5E2DE;
}

.logo {
  max-width: 100%;
  height: 118px;
}

.menu {
  margin-bottom: 20px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.menu ul li {
  padding: 15px 0px;
}

.menu ul li a {
  padding: 12px 20px;
  text-decoration: none;
  border-right: 1px solid #E5E2DE;
}

.menu ul li a:hover {
  background-color: #00aed3;
  color: #ffffff;
}

.single-content > .frow > div:last-child {
  padding-left: 80px;
}

.single-content {
  padding: 0px 0px 20px 0px;
  border-top: 1px solid #E5E2DE;
}

.single-content h2 {
  padding-top: 20px;
  font-weight: 400;
}

.single-content p {
  padding-left: 15px;
  font-weight: 700;
}

.single-content p a {
  color: #6CB7FB;
  text-decoration: none;
}

.single-content p a:hover {
  color: #0090b5;
}

.content-image {
  max-width: 100%;
  max-height: 650px;
}

span.h-title {
  display: block;
  border-bottom: 1px solid #e5e2de;
  padding-top: 40px;
}

span.photo-title {
  display: block;
  font-size: 1.1em;
  padding: 11px 0px;
  color: #2b2b2b;
}

.single-page > .frow > .col-md-3-5 {
  padding-left: 60px;
  padding-top: 40px;
}

span.poetry-by {
  display: block;
  color: #999;
  font-size: 1.3em;
  line-height: 1.5em;
}

.single-page > div > div > h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.paragraph {
  font-size: 1.4em;
  line-height: 1.35em;
  margin: 0px 0px 15px 0px;
}

.paragraph-1 {
  font-size: 1.5em;
}

.copyright {
  font-size: 1.1em;
}

p.Standard {
  font-family: "Times New Roman","serif";
  line-height: 0.8em;
}

p.Standard-2 {
  font-family: "Times New Roman","serif";
}

.fz-x {
  font-size: 2.2em;
}

a.contact-link {
  color: #666;
  text-decoration: none;
}

a.contact-link:hover {
  color: #0090b5;
}

/* XS */
@media (max-width: 767px) {
  .single-content > .frow > div:last-child {
    padding-left: 0;
  }
  .menu ul li a {
    font-size: 14px;
    padding: 10px 7px;
  }
  .single-page > .frow > .col-md-3-5 {
    padding-left: 0px;
  }
  .paragraph {
    font-size: 17px;
    line-height: 1.45em;
    margin: 0px 0px 15px 0px;
  }
  p.Standard {
    line-height: 1.2em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-content > .frow > div:last-child {
    padding-left: 0;
  }
  .menu ul li a {
    font-size: 14px;
    padding: 10px 7px;
  }
  .single-page > .frow > .col-md-3-5 {
    padding-left: 0px;
  }
  .paragraph {
    line-height: 1.45em;
    margin: 0px 0px 15px 0px;
  }
  p.Standard {
    line-height: 1.2em;
  }
}
